* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    margin: 1px;
    justify-content: space-between;
    padding-top: 20px;

}

header {
    background-color: rgb(250, 243, 235);
}

.logo {
    font-weight: bolder;
    font-size: 25px;
    color: purple;
    text-transform: capitalize;
    margin-left: 50px;
}

.main-ul {
    list-style: none;
    font-weight: 20px;
    color: purple;
    display: flex;
    font-size: 20px;
    font-weight: bold;


}

.main-ul li {
    padding: 0 25px 2px 0;
    text-transform: uppercase;


}

button {
    background-color: purple;
    text-align: center;
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;
    margin-right: 50px;
    margin-top: -5px;
}

#btn2 {
    margin-top: 5px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 10%
}

.box1 {
    margin: 25px;
    color: rgb(85, 82, 82);
    font-weight: bold;

}

h1 {
    color: purple;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
}

.pa {
    margin-top: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: rgb(165, 162, 162);
}

.course {
    width: 200px;
    color: rgb(143, 139, 139);
    background-color: rgb(243, 236, 236);
    padding: 10px;
    font-weight: bold;
    border-radius: 2px;
    height: 80px;
}

#color {
    color: rgb(1, 1, 29);
}

.circle {
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(0, 2, 128);
}

.content-1 {
    display: block;
    margin-top: 50px;
}

.banner-img img {
    height: 500px;
    margin-top: -40%;

}

.card-box {
    margin-top: 100px;
}

#card-btn {
    background-color: rgb(34, 34, 190);

}

h2 {
    font-weight: bolder;
    text-transform: capitalize;
    color: blue;
    margin-top: 100px;
    text-align: center;
}

.card-deck {
    justify-content: center;
    display: flex;

    opacity: 0.5;

}

.card-img-top {
    margin: 30px;

    width: 400px;
}

.box {
    border: 1px solid rgb(209, 208, 208);
    position: relative;
    top: -100px;
    background-color: white;
    border-radius: 6px;
    margin-left: 200px;
    margin-bottom: 50px;
    padding: 20px;
}

.sec-3 {
    background-color: rgb(245, 224, 228);
    padding: 80px;
}

.sec-3 #emailbox {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    width: 600px;

}